body{
    background-color: rgb(247, 10, 109);
}
h1{
    color: white;
    font-size: 100%;
    text-align: center;
}
p{
    color: white;
    font-size: 95%;
    text-align: center;   
}
#imagem1{
    width: 35%;
    height: 25%;
    border: 2px solid black;
}